// COLORS
$primary-red-clr: hsl(0, 100%, 68%);
$dark-blue: hsl(230, 29%, 20%);
$gray-blue: hsl(235, 7%, 65%);
$dark-gray-blue: hsl(229, 11%, 40%);
$light-gray-blue: hsl(203, 31%, 95%);

// Typography

// ### Headings, Call-to-actions, Navigation
$font-family-Barlow-Condensed: "Barlow Condensed", sans-serif;

// Body
$default-font-size: 1.8rem;
$font-family-Barlow: "Barlow", sans-serif;
$fw-400: 400;
$fw-700: 700;
